# Python
__pycache__/
*.py[cod]

# Virtual env
venv/
.venv/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Django
db.sqlite3
media/
staticfiles/

# Migrations cache
**/migrations/__pycache__/

# Node
node_modules/

# Next.js build
.next/
out/
dist/

# Logs
*.log

# OS + editors
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Tests
htmlcov/
.coverage
.pytest_cache/

# Docker
*.pid

# misc
.cache/