{% extends 'base.html' %} {% block content %}
<h2>Welcome to Kunuz</h2>
<p>A platform dedicated to Algerian Heritage and Culture.</p>
{% endblock %}

<div style="margin-bottom: 20px">
  <a
    href="{% url 'profile' %}"
    style="
      padding: 10px 15px;
      background: #474a4d;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    "
  >
    Go to Profile
  </a>
</div>
<h2>Posts</h2>

{% for post in object_list %}
<div style="border: 1px solid #ddd; padding: 12px; margin: 12px 0">
  <h3>{{ post.user.username }} • {{ post.created_at|timesince }} ago</h3>
  <p>📍 {{ post.location }}</p>
  <h3>{{ post.title }}</h3>
  <p>{{ post.content }}</p>
  {% if post.post_type == "events" and post.event_details %}
  <div>
    <p>🗓 Starts: {{ post.event_details.starts_at|date:"M d, Y H:i" }}</p>

    {% if post.event_details.ends_at %}
    <p>⏳ Ends: {{ post.event_details.ends_at|date:"M d, Y H:i" }}</p>

    {% endif %}
  </div>
  {% endif %} {% if post.post_type == "alert" and post.alert_details %}
  <p>
    🚨 {{ post.alert_details.get_urgence_level_display }} •
    {{post.alert_details.get_current_status_display }}
  </p>
  {% endif %} {% for img in post.images.all %}
  <img src="{{ img.image.url }}" style="max-width: 200px" />
  {% endfor %}
  <p>
    <button class="gem-btn" data-id="{{ post.id }}">
      ❤️
      <span id="gem-count-{{ post.id }}">{{ post.gems.count }}</span></button
    >&nbsp;&nbsp;&nbsp;&nbsp; {{post.comments.count }}
    Comments&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="save-btn" data-id="{{ post.id }}">📌</button>
  </p>

  <div>
    {% if post.region %}
    <span>#{{ post.get_region_display }}</span>
    {% endif %} {% if post.historical_period %}
    <span>#{{ post.get_historical_period_display }}</span>
    {% endif %} {% if post.monument_type %}
    <span>#{{ post.get_monument_type_display }}</span>
    {% endif %}
  </div>
  <p>{{ post.created_at }}</p>
</div>

{% empty %}
<p>No posts yet.</p>
{% endfor %}
<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  const csrftoken = getCookie("csrftoken");

  // GEM
  document.querySelectorAll(".gem-btn").forEach((button) => {
    button.addEventListener("click", function () {
      const postId = this.dataset.id;
      fetch(`/gem/${postId}/`, {
        method: "POST",
        headers: { "X-CSRFToken": csrftoken },
      })
        .then((r) => r.json())
        .then((data) => {
          document.getElementById(`gem-count-${postId}`).innerText = data.count;
        })
        .catch(console.error);
    });
  });

  // SAVE
  document.querySelectorAll(".save-btn").forEach((button) => {
    button.addEventListener("click", function () {
      const postId = this.dataset.id;
      fetch(`/save/${postId}/`, {
        method: "POST",
        headers: { "X-CSRFToken": csrftoken },
      })
        .then((r) => r.json())
        .then((data) => {
          // you can toggle icon based on data.saved if you want
          // example:
          this.textContent = data.saved ? "✅ Saved" : "📌";
        })
        .catch(console.error);
    });
  });
</script>
